fieldset {
    border: 0;
}

.gb-edit-item__form {
    width: 320px; 
    height: 550px; 
    margin: 30px auto;
    background-color: #eee; 
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}


legend {
    text-align: center; 
}

#gear-name,
#description, 
#comment {
    margin-bottom: 20px; 
}

input {
    display: flex; 
    flex-direction: column; 
    width: 200px; 
    height: 25px; 
}

textarea {
    display: flex; 
    flex-direction: column; 
    width: 200px; 
    height: 45px; 
}


.gb-edit__button {
    text-decoration: none;
    color: #000;
    font-family: 'Merriweather', serif;
    background-color: #e67e22;
    width: 100px; 
    height: 40px; 
    border: none; 
    font-size: 15px;
    margin-left: 100px; 
    margin-top: 25px; 
}

.gb-edit__button:hover {
    color: #fff; 
    transition: 0.5s; 
}

.gb-edit__button {
   text-decoration: none; 
}

.gb-edit__goback-button {
    text-decoration: none;
    color: #000;
    background-color: #e67e22;
    width: 100px; 
    height: 40px; 
    border: none; 
    font-size: 15px; 
    margin-left: 300px; 
}

.gb-edit__goback-button:hover {
    color: #fff; 
    transition: 0.5s; 
}