h2 {
    text-align: center; 
}


.gb-item_list{
    list-style-type: none; 
    text-align: center; 
    margin: 100px auto; 
    width: 325px; 
}

.gb-item__delete {
    --item-button-height: 32px;
    background-color: #e67e22;
    border: 0;
    color: #eee;
    font-size: 12px;
    height: var(--item-button-height);
    top: calc((var(--item-button-height) + 80px) * -1);
    transform-origin: right bottom;
    width: calc(var(--item-height)); 
}

@media only screen and (min-width: 750px) {
    .gb-item_list {
        width: 375px; 
    }

    .gb-item__delete {
        font-size: 17px; 
    }
}

