.gb-item {
    --item-height: 88px;
    background-color: #eee;
    padding: 8px 0px 8px 8px; 
    margin: 0 20px 15px -20px;
}

.gb-item h2{ 
    font-size: 25px; 
}

.gb-item a{
    text-decoration: none; 
    color: #000; 
}

.gb-item:hover a{
    color: #e67e22; 
    transition: 0.9s; 
}

