body {
    margin: 0px; 
}

header {
    background-color: #00B4FF;
    border: 1px solid #00B4FF;
    margin-top: -4.5px; 
}

.gb-landing__header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px; 
}

.gb-logo__header {
    width: 300px; 
}

.nav__link{
    color: #000; 
    text-decoration: none;
}

.nav__link:hover {
    color: #eee; 
    transition: 0.9s; 
}

/*========Media Queries============*/
@media only screen and (min-width: 600px) {
    .gb-logo__header {
        width: 400px; 
    }
}

@media only screen and (min-width: 750px) {
    .gb-logo__header {
        width: 500px; 
    }
}