body {
  height: 100%;
  background-color: #00B4FF;
  font-family: 'Merriweather', serif;
  box-sizing: border-box;
}

.landing-main {
  text-align: center;
  color: #000;
  padding-top: 50px; 
}

h2 {
  font-size: 2rem; 
}

.btns {
   display: flex; 
   justify-content: center; 

}

.login__button button { 
  background-color: #e67e22;
  border-radius: 20px; 
  border: none; 
  color: #000;
  font-family: 'Merriweather', serif;
  font-size: 20px; 
  margin-right: 40px; 
  height: 30px;
  width: 100px; 
  text-decoration: none;
}

.login__button:hover button{
  color: #eee; 
  transition: 0.5s;
}

.registration__button button{ 
  background-color: #e67e22;
  border-radius: 20px; 
  border: none;
  color: #000;
  font-family: 'Merriweather', serif;
  font-size: 20px; 
  height: 30px;
  width: 160px; 
  text-decoration: none;
}

.registration__button:hover button{
  color: #eee; 
  transition: 0.5s;
}

.rating__icon,
.track__icon,
.comment__icon {
  width: 10rem;
  height: 10rem;
  padding: 1rem;
  position: relative;
  text-align: center;
  transition: all 0.5s;
  border: 1px solid #fff; 
  background-color: #fff;
  border-radius: 50%;
  margin: 40px auto;
}


.landing-about__icons {
  padding-bottom: 40px;  
  padding-top: 30px; 
}

.gb-star__landing,
.gb-list__landing,
.gb-check__landing {
  width: 70px; 
  margin-top: 25px; 
}

/*========Media Queries============*/
@media only screen and (min-width: 600px) {
  .gb-logo__header {
      width: 400px; 
  }

  .landing-main__text {
    font-size: 25px; 
  }

  .login__button button,
  .registration__button button {
    height: 40px;  
  }

  .rating__icon,
  .track__icon,
  .comment__icon {
    width: 13rem;
    height: 13rem;
    margin: 60px auto;
}

  .gb-star__landing,
  .gb-list__landing,
  .gb-check__landing {
    width: 85px; 
    margin-top: 40px; 
  }

  .landing-about__icons p{
    font-size: 20px; 
  }
  
}

@media only screen and (min-width: 1200px) {
  .landing-about__icons {
    display: flex; 
    flex-direction: row; 
    align-items: center;
  }
}