
.gb-login__form {
  width: 300px; 
  height: 450px; 
  margin: 30px auto;
  background-color: #eee; 
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}

input {
  margin: 10px 0 10px 0;
}

.gb-container {
  display: flex; 
  flex-direction: row;
  margin-left: 90px; 
}

.gb-login__button {  
  width: 100px; 
  height: 40px; 
  border: none; 
  font-family: 'DM Mono', monospace;
  background-color: #e67e22;
  font-size: 15px; 
}

.gb-login__button:hover {
  color: #fff; 
  transition: 0.5s;
}

.gb-login-form__links {
  margin: 20px auto; 
  text-align: center; 
}

.gb-registration__route {
  text-decoration: none;
  color: #fff;
  font-family: 'DM Mono', monospace;
  background-color: #e67e22;   
}

.gb-demo__container {
  border: none; 
  width: 300px; 
  margin: 0 auto; 
  text-align: center; 
  background-color: #e67e22;
  color: #fff; 
}