
.gb-login__form {
  width: 300px; 
  height: 450px; 
  margin: 30px auto;
  background-color: #eee; 
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}

fieldset  {
  text-align: center; 
}

fieldset input {
  margin: 10px auto; 
}

input {
  margin: 10px 0 10px 0;
}


.gb-container {
  display: flex; 
  justify-content: center; 
}

.gb-login__button {  
  width: 100px; 
  height: 40px; 
  border-radius: 20px; 
  border: none; 
  font-family: 'Merriweather', serif;
  background-color: #e67e22;
  font-size: 15px; 
}

.gb-login__button:hover {
  color: #fff; 
  transition: 0.5s;
}

.gb-login-form__links {
  margin: 20px auto; 
  text-align: center; 
}

.gb-registration__route {
  text-decoration: none;
  color: #fff;
  font-family: 'Merriweather', serif;
  margin-left: 5px;   
}

.gb-registration__route:hover {
  color: #e67e22;
  transition: 0.5s; 
}

.gb-demo__container {
  border: none; 
  width: 300px; 
  margin: 0 auto; 
  text-align: center; 
  background-color: #e67e22;
  color: #fff; 
}

/*========Media Queries============*/
@media only screen and (min-width: 750px) {
  legend h2{
    font-size: 35px; 
  }

  label {
    font-size: 20px; 
  }

  .gb-login__button {
    width: 110px; 
    height: 40px; 
  }

  .gb-demo__container p{
    font-size: 20px; 
  }

  .gb-login-form__links {
    font-size: 20px; 
  }
}