.nav__link {
    text-align: center; 
}

h1 {
    padding-top: 30px; 
}

.gb-main__header a {
    color: #000; 
    text-decoration: none; 
}

.gb-main__header:hover a {
    color: #fff; 
    transition: 0.5s; 
}

.gb-logo {
    width: 300px; 
    margin-top: 30px; 
}

.gb-header__container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-top: 30px; 
}

.nav__main-links {  
    font-size: 15px;  
    font-weight: bold; 
}

.gb-link__all,
.gb-link__new,
.gb-link__logout {
    margin-left: 15px; 
    margin-right: 15px; 
    font-size: 17px; 
}

.nav__main-links a {
    text-decoration: none; 
    color: #000; 
}

.gb-link__all:hover,
.gb-link__new:hover,
.gb-link__logout:hover {
    color: #fff; 
    transition: 0.5s; 
}

/*========Media Queries============*/
@media only screen and (min-width: 600px) {
    .gb-logo {
        width: 400px; 
    }

    .gb-link__all,
    .gb-link__new,
    .gb-link__logout { 
        font-size: 20px; 
    }
}

@media only screen and (min-width: 750px) {
    .gb-logo {
        width: 500px; 
    }
}

@media only screen and (min-width: 1400px) {
    .gb-logo {
        width: 600px; 
    }

    .gb-link__all,
    .gb-link__new,
    .gb-link__logout { 
        font-size: 25px; 
    }
}