.nav__link {
    text-align: center; 
}

h1 {
    padding-top: 30px; 
}

.gb-main__header a {
    color: #000; 
    text-decoration: none; 
}

.gb-main__header:hover a {
    color: #fff; 
    transition: 0.5s; 
}

.gb-header__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav__main-links {
    display: flex;  
    font-size: 17px;  
}

.gb-link__all,
.gb-link__new,
.gb-link__logout {
    margin-right: 30px;  
    padding: 10px; 
}

.nav__main-links a {
    text-decoration: none; 
    color: #000; 
}

.gb-link__all:hover,
.gb-link__new:hover,
.gb-link__logout:hover {
    color: #fff; 
    transition: 0.5s; 
}