fieldset {
    border: 0;
}

.gb-new-item__form {
    width: 300px; 
    height: 500px; 
    margin: 30px auto;
    background-color: #eee; 
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}

legend {
    text-align: center; 
}


#gear-name,
#features, 
#comments,
#rating {
    margin-bottom: 30px;
}

input {
    border: none;
    display: flex; 
    flex-direction: column; 
    width: 200px; 
    height: 25px; 
}

textarea {
    border: none; 
    display: flex; 
    flex-direction: column; 
    width: 200px; 
    height: 45px; 
    resize: none; 
}

.gb-add__button {
    text-decoration: none;
    color: #000;
    font-family: 'Merriweather', serif;
    background-color: #e67e22;
    width: 100px; 
    height: 40px; 
    border: none; 
    font-size: 15px;
    margin-left: 100px; 
    margin-top: 25px; 
    border-radius: 20px; 
}

.gb-add__button:hover{
    color: #fff;
    transition: 0.5s; 
}