
.gb-registration__form {
    width: 300px; 
    height: 500px; 
    margin: 30px auto;
    background-color: #eee; 
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}

.gb-register-container__buttons {
    margin-left: 95px;  
    margin-top: 30px; 
}

.gb-register__button {
    width: 100px; 
    height: 40px; 
    border: none; 
    font-family: 'Merriweather', serif;
    background-color: #e67e22;
    font-size: 15px; 
}

.gb-register__button:hover {
    color: #fff;
    transition: 0.5s; 
}