
.gb-registration__form {
    border: 1px solid #fff; 
    width: 300px; 
    height: 500px; 
    margin: 30px auto;
    background-color: #eee; 
}

.gb-register-container__buttons {
    margin-left: 80px;  
}

.gb-register__button {
    margin-right: 20px; 
}